* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1,5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}